### Testing One Hot Encoding versus Integer Encoding when you have multi-level categorical variables

In [47]:
import feather
import pandas as pd
import numpy as np

In [48]:
train = feather.read_dataframe("/Users/alexpapiu/Documents/Data/Bimbo/val.feather")

In [149]:
train = pd.read_csv("/Users/alexpapiu/Documents/Data/Bimbo/train.csv")

In [49]:
train.shape

(1000000, 19)

In [50]:
train.head(3)

,Producto_ID,Agencia_ID,Semana,Canal_ID,Ruta_SAK,Cliente_ID,Demanda_uni_equil,id,Town,State,V1,product_name,brand,weight,pieces,weight_per_piece,has_choco,has_vanilla,has_multigrain
0,53,1374,9,4,6652,4578089,2,67467299,2251 AGUASCALIENTES NORTE,AGUASCALIENTES,4,Burritos Sincro 170g CU LON 53,LON,170,NaN,NaN,False,False,False
1,53,1374,9,4,6651,2155654,2,67466660,2251 AGUASCALIENTES NORTE,AGUASCALIENTES,4,Burritos Sincro 170g CU LON 53,LON,170,NaN,NaN,False,False,False
2,53,1374,9,4,6652,1011336,4,67467020,2251 AGUASCALIENTES NORTE,AGUASCALIENTES,4,Burritos Sincro 170g CU LON 53,LON,170,NaN,NaN,False,False,False

In [51]:
train.dtypes

Producto_ID            int32
Agencia_ID             int32
Semana                 int32
Canal_ID               int32
Ruta_SAK               int32
Cliente_ID             int32
Demanda_uni_equil      int32
id                     int32
Town                  object
State                 object
V1                    object
product_name          object
brand                 object
weight               float64
pieces               float64
weight_per_piece     float64
has_choco               bool
has_vanilla             bool
has_multigrain          bool
dtype: object

In [52]:
train.Agencia_ID.value_counts().index[10]

1312

In [157]:
train = train[train.Agencia_ID == 1945]

In [53]:
train.shape

(1000000, 19)

###  Now let's try to integer encode stuff and apply xgboost:

In [54]:
from sklearn import preprocessing

In [55]:
le = preprocessing.LabelEncoder()

In [62]:
X = np.column_stack((le.fit_transform(train.Producto_ID),
                     le.fit_transform(train.Canal_ID),
                     le.fit_transform(train.Cliente_ID),
                     le.fit_transform(train.Ruta_SAK),
                     le.fit_transform(train.Agencia_ID)))

In [60]:
y = np.log1p(train.Demanda_uni_equil)

In [61]:
X.shape

(1000000, 5)

In [67]:
import xgboost as xgb

In [165]:
dtrain = xgb.DMatrix(data = X, label = y)

In [172]:
params = {
        "eta": 0.7,
        "max_depth": 6,
        "silent": 1,
        "seed": 1233,
    }

In [174]:
xgb.cv(params, dtrain, num_boost_round=40)

    test-rmse-mean  test-rmse-std  train-rmse-mean  train-rmse-std
0         0.668165       0.007096         0.667889        0.006556
1         0.557114       0.004477         0.556773        0.004630
2         0.541426       0.008108         0.540532        0.008582
3         0.529641       0.004832         0.528921        0.004814
4         0.518630       0.001407         0.517749        0.000564
5         0.514054       0.001735         0.513014        0.002480
6         0.511275       0.001290         0.510080        0.001945
7         0.508625       0.001980         0.507389        0.001903
8         0.506592       0.001481         0.505069        0.001090
9         0.503878       0.000887         0.502393        0.000258
10        0.502322       0.000994         0.500668        0.000292
11        0.500452       0.000158         0.498734        0.000657
12        0.499104       0.000178         0.497147        0.000891
13        0.498353       0.000409         0.496249        0.000934
14        0.497546       0.000131         0.495191        0.000845
15        0.495840       0.000547         0.493281        0.001293
16        0.494774       0.000513         0.492070        0.001228
17        0.493456       0.000151         0.490582        0.000691
18        0.492978       0.000267         0.490017        0.000716
19        0.492558       0.000336         0.489469        0.000776
20        0.491507       0.000534         0.488282        0.000617
21        0.490642       0.000640         0.487322        0.000554
22        0.489498       0.000683         0.486018        0.000803
23        0.488532       0.000677         0.484875        0.000338
24        0.487738       0.000786         0.483996        0.000182
25        0.487270       0.000811         0.483477        0.000118
26        0.486488       0.000857         0.482520        0.000084
27        0.485820       0.000942         0.481716        0.000286
28        0.485084       0.000632         0.480857        0.000481
29        0.484343       0.000722         0.479926        0.000200
30        0.483737       0.001019         0.479228        0.000141
31        0.483115       0.000784         0.478515        0.000054
32        0.482678       0.000761         0.478023        0.000325
33        0.482269       0.000703         0.477439        0.000288
34        0.481998       0.000610         0.477112        0.000472
35        0.481174       0.000637         0.476081        0.000188
36        0.480714       0.000686         0.475482        0.000372
37        0.479920       0.000581         0.474540        0.000378
38        0.479379       0.000701         0.473915        0.000185
39        0.478900       0.000751         0.473242        0.000106

### And let's also try One Hot Encoding:

In [175]:
le.fit

(570384, 11)

In [182]:
train.Cliente_ID = train.Cliente_ID.astype("str")
train.Producto_ID = train.Producto_ID.astype("str")

In [69]:
pd.get_dummies(train[1:1000][["Cliente_ID", "Producto_ID"]])

     Cliente_ID  Producto_ID
1       2155654           53
2       1011336           53
3         74428           72
4        416953           72
5       4661879           72
6       1393062           72
7         73880           72
8       1272481           72
9       4362105           72
10      2315372           72
11      4629025           72
12        65203           72
13      4655830           72
14      4527902           72
15      4568867           72
16        33215           72
17      2322238           72
18      1061428           72
19        65266           72
20        64570           72
21      1031591           72
22      2152818           72
23        50833           72
24        50335           72
25      4684133           72
26        65961           72
27      2151154           72
28       331274           72
29      1360235           72
30       976789           72
..          ...          ...
970      341215           72
971      319118           72
972     1803874           72
973      363252           72
974     1865553           72
975      918930           72
976     4730813           72
977      263340           72
978     1867680           72
979     1517602           72
980     1152314           72
981     1304659           72
982      262622           72
983     4561504           72
984      339420           72
985     2022798           72
986       84779           72
987       85049           72
988     2487509           72
989       86852           72
990      170163           72
991     2332874           72
992       87574           72
993     2383361           72
994      168832           72
995     4400210           72
996       87928           72
997     1680673           72
998      180408           72
999       87220           72

[999 rows x 2 columns]

In [37]:
X = np.array([[1, 2, 3, 3, 4], [1, 2, 3, 1, 1]])

In [43]:
X = np.column_stack(([1, 2, 3, 3, 4], [1, 2, 3, 1, 1]))

In [44]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
enc.fit(X)

OneHotEncoder(categorical_features='all', dtype=<class 'float'>,
       handle_unknown='error', n_values='auto', sparse=True)

In [45]:
X.shape

(5, 2)

In [46]:
enc.transform(X).toarray()

array([[ 1.,  0.,  0.,  0.,  1.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  1.,  0.,  0.,  0.,  1.],
       [ 0.,  0.,  1.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  1.,  0.,  0.]])