EDA for the kaggle bimbo competition

In [1]:
library(data.table)
library(dplyr)
library(ggplot2)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:data.table’:

    between, last

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [13]:
n = 1e5
train = fread("/Users/alexpapiu/Documents/Data/Bimbo/train.csv")

Read 74180464 rows and 11 (of 11) columns from 2.980 GB file in 00:00:38

So we have 74180464 rows of data, dang.

In [14]:
head(train)

   Semana Agencia_ID Canal_ID Ruta_SAK Cliente_ID Producto_ID Venta_uni_hoy
1:      3       1110        7     3301      15766        1212             3
2:      3       1110        7     3301      15766        1216             4
3:      3       1110        7     3301      15766        1238             4
4:      3       1110        7     3301      15766        1240             4
5:      3       1110        7     3301      15766        1242             3
6:      3       1110        7     3301      15766        1250             5
   Venta_hoy Dev_uni_proxima Dev_proxima Demanda_uni_equil
1:     25.14               0           0                 3
2:     33.52               0           0                 4
3:     39.32               0           0                 4
4:     33.52               0           0                 4
5:     22.92               0           0                 3
6:     38.20               0           0                 5

In [15]:
str(train)

Classes ‘data.table’ and 'data.frame':	74180464 obs. of  11 variables:
 $ Semana           : int  3 3 3 3 3 3 3 3 3 3 ...
 $ Agencia_ID       : int  1110 1110 1110 1110 1110 1110 1110 1110 1110 1110 ...
 $ Canal_ID         : int  7 7 7 7 7 7 7 7 7 7 ...
 $ Ruta_SAK         : int  3301 3301 3301 3301 3301 3301 3301 3301 3301 3301 ...
 $ Cliente_ID       : int  15766 15766 15766 15766 15766 15766 15766 15766 15766 15766 ...
 $ Producto_ID      : int  1212 1216 1238 1240 1242 1250 1309 3894 4085 5310 ...
 $ Venta_uni_hoy    : int  3 4 4 4 3 5 3 6 4 6 ...
 $ Venta_hoy        : num  25.1 33.5 39.3 33.5 22.9 ...
 $ Dev_uni_proxima  : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Dev_proxima      : num  0 0 0 0 0 0 0 0 0 0 ...
 $ Demanda_uni_equil: int  3 4 4 4 3 5 3 6 4 6 ...
 - attr(*, ".internal.selfref")=<externalptr>

In [16]:
summary(train)

     Semana       Agencia_ID       Canal_ID         Ruta_SAK
 Min.   :3.00   Min.   : 1110   Min.   : 1.000   Min.   :   1
 1st Qu.:4.00   1st Qu.: 1312   1st Qu.: 1.000   1st Qu.:1161
 Median :6.00   Median : 1613   Median : 1.000   Median :1286
 Mean   :5.95   Mean   : 2537   Mean   : 1.383   Mean   :2115
 3rd Qu.:8.00   3rd Qu.: 2036   3rd Qu.: 1.000   3rd Qu.:2802
 Max.   :9.00   Max.   :25759   Max.   :11.000   Max.   :9991
   Cliente_ID         Producto_ID    Venta_uni_hoy       Venta_hoy
 Min.   :2.600e+01   Min.   :   41   Min.   :   0.00   Min.   :     0.0
 1st Qu.:3.568e+05   1st Qu.: 1242   1st Qu.:   2.00   1st Qu.:    16.8
 Median :1.193e+06   Median :30549   Median :   3.00   Median :    30.0
 Mean   :1.802e+06   Mean   :20841   Mean   :   7.31   Mean   :    68.5
 3rd Qu.:2.371e+06   3rd Qu.:37426   3rd Qu.:   7.00   3rd Qu.:    56.1
 Max.   :2.015e+09   Max.   :49997   Max.   :7200.00   Max.   :647360.0
 Dev_uni_proxima    Dev_proxima        Demanda_uni_equil
 Min.   :0.0e+00   Min.   :     0.00   Min.   :   0.000
 1st Qu.:0.0e+00   1st Qu.:     0.00   1st Qu.:   2.000
 Median :0.0e+00   Median :     0.00   Median :   3.000
 Mean   :1.3e-01   Mean   :     1.24   Mean   :   7.225
 3rd Qu.:0.0e+00   3rd Qu.:     0.00   3rd Qu.:   6.000
 Max.   :2.5e+05   Max.   :130760.00   Max.   :5000.000

Ok let's sample 100k rows and check em out:

In [ ]:
sam = sample(nrow(train))

In [3]:
n = 1e5
train = fread("/Users/alexpapiu/Documents/Data/Bimbo/train.csv", nrow = 1e5)

In [4]:
head(train)

   Semana Agencia_ID Canal_ID Ruta_SAK Cliente_ID Producto_ID Venta_uni_hoy
1:      3       1110        7     3301      15766        1212             3
2:      3       1110        7     3301      15766        1216             4
3:      3       1110        7     3301      15766        1238             4
4:      3       1110        7     3301      15766        1240             4
5:      3       1110        7     3301      15766        1242             3
6:      3       1110        7     3301      15766        1250             5
   Venta_hoy Dev_uni_proxima Dev_proxima Demanda_uni_equil
1:     25.14               0           0                 3
2:     33.52               0           0                 4
3:     39.32               0           0                 4
4:     33.52               0           0                 4
5:     22.92               0           0                 3
6:     38.20               0           0                 5

In [8]:
train %>% 
    count(Cliente_ID)%>%
    arrange(desc(n)) -> client_id

In [11]:
head(client_id, 60)

   Cliente_ID  n
1       56717 96
2       22248 90
3       68056 90
4     1578019 89
5       39024 88
6       23443 88
7       50454 87
8       74799 85
9       30195 82
10    1213962 81
11      56065 80
12     418780 80
13    2485418 79
14     210290 78
15      75124 78
16    1823448 78
17      50827 77
18      49560 77
19      62224 77
20      50838 76
21    1284664 76
22      74500 76
23      56216 75
24      49460 74
25      49931 74
26      23369 74
27      56063 74
28     129010 73
29    1284623 73
30      62408 73
31      49983 72
32     418434 72
33     710007 72
34      56908 72
35      49956 72
36      50466 72
37      62121 72
38    1436294 72
39    1629109 72
40    2096630 71
41    1843881 71
42      75071 71
43      65623 71
44      73523 71
45    1379527 71
46    1446507 71
47      62286 71
48      50396 70
49     459436 70
50     540774 70
51      49924 70
52    4558125 70
53      49939 70
54      30196 70
55      62109 70
56    1002823 70
57      73510 70
58      56561 69
59    2113365 69
60      50036 69